Cartopy==0.24.1
certifi==2024.8.30
cmocean==4.0.3
geos==0.2.3
gsw==3.6.19
h5py==3.12.1
jupyterlab==4.3.0
matplotlib==3.9.2
matplotlib-inline==0.1.7
netCDF4==1.7.2
numpy==2.1.3
pandas==2.2.3
proj==0.2.0
pyproj==3.7.0
shapely==2.0.6
six==1.16.0
xarray==2024.10.0
